<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.onet.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.eres.elka.pw.edu.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.gmail.com
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.studia.elka.pw.edu.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.studia.elka.pw.edu.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.onet.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.eres.elka.pw.edu.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.gmail.com
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.studia.elka.pw.edu.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.studia.elka.pw.edu.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.onet.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.eres.elka.pw.edu.pl
</div>
<div class="row">
	<div class="buttons">
		<a href="#" class="block btn right">zablokuj</a>
		<a href="#" class="allow btn right">zezwól</a>
	</div>
	.gmail.com
</div>