html, body { 
	color: #4A4A4A;
	font-family: Tahoma, Arial; background-color: #F5F5F5; 
	font-size: 14px;
	margin: 0;
	min-height: 100%;
	padding: 0;
	text-align: left;
}
#content {
	overflow: hidden;
	min-height:100%;
	padding: 0 30px 30px 54px;
	margin: 0 auto;
	width: 1000px;
}
#footer, h1 {
	text-align: center;
}
#header {
	background-color: #FF7D00;
	color: #ffffff;
	padding: 30px;
	height: 14px;
}
#footer {
	background-color: #F0F0F0;
	bottom:0;
	color: #ACACAC;
	font-size: 12px;
	height: 14px;
	left:0;
	padding: 20px;
	position: fixed;
	right:0;
}
.box {
	background-color: #FFFFFF;
	padding: 20px;
	text-align: justify;
	overflow-y: auto;
	position: fixed;
	top: 74px;
	bottom: 54px;
}
.box_head {
	overflow: hidden;
	font-size: 20px;
}
.box_subhead {
	margin: 10px 0;
	font-size: 16px;
	color: #A3A3A3;
}
.box.left {
	float: left;
	width: 250px;
	left: 0;
}
.box.right {
	float: right;
	right: 0;
	left: 300px;
}
.tag {
	background-color: #FFFFFF;
	color: #FF7D00;
	padding: 10px;
}
.tag.inverted {
	background-color: #FF7D00;
	color: #FFFFFF;
	padding: 10px;
}
.tag.block {
	float: left;
	display: block;
}
.loading {
	color: #B9B9B9;
	font-size: 30px;
	text-align: center;
}
.btn {
	color: #E47000;
	padding: 10px 20px;
}
.btn.small {
	font-size: 12px;
}
.btn.right {
	float: right;
	margin: 0 5px;
}
a.btn {
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	outline: none;
}
.row {
	padding: 15px;
	margin-bottom: 5px;
	border: 1px solid #F8F8F8;
}
.row.small {
	padding: 5px;
	margin-bottom: 2px;
	border: 1px solid #F8F8F8;
	position: relative;
}
.row .buttons {
	float: right;
}
.row.small .buttons {
	background-color: #F8F8F8;
	display: none;
}
.row.small:hover .buttons {
	display: block;
	position: absolute;
	right: 0;
}
#allowed_content .allow 
{
	display: none;
}
#blocked_content .block 
{
	display: none;
}
#config_content .redirect 
{
	display: none;
}